<div class="container">
<h1>Page d'administration</h1>
<p></p>

<p>

 <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Créer une nouvelle chambre', new_room_path %></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Créer une nouvelle réservation', new_reservation_path %></button>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Voir les réservations', reservations_path%></button>
</p>
</div>