<div id="page-content">

</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; AC</small><br/>
    <%= link_to 'Deconnexion', destroy_client_session_path, method: :delete %>
    </div>
  </footer>